@page "/AgendaPage"

@*@inject FieldServiceT.Helpers.BrowserService browserService*@
@inject FieldServiceT.Helpers.BookableResourceService bookableResourceService
@*@inject FieldServiceT.Helpers.TokenService*@

@using Syncfusion.Blazor.Schedule
@using Microsoft.IdentityModel.Clients.ActiveDirectory
@using FieldServiceT.Models
@using FieldServiceT.Helpers

<h6 style="padding-left:12px">Agenda</h6>
<div class="col-lg-12 control-section">
    <div class="schedule-wrapper">
        <SfSchedule TValue="BookedResource" Width="100%" Height="510px" @bind-SelectedDate="@CurrentDate">
            <ScheduleViews>
                <ScheduleView Option="View.Day"></ScheduleView>
                <ScheduleView Option="View.Week"></ScheduleView>
                <ScheduleView Option="View.Month"></ScheduleView>
                <ScheduleView MaxEventsPerRow="12" Option="View.TimelineDay"></ScheduleView>
                <ScheduleView MaxEventsPerRow="12" Option="View.TimelineWeek"></ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings DataSource="@ResourceList"></ScheduleEventSettings>
        </SfSchedule>
    </div>
</div>

@code 
{

    #region
    private AuthenticationResult token;
    private List<BookedResource> ResourceList { get; set; }
    private string CurrentToken { get; set; }
    private DateTime CurrentDate = new DateTime(2020, 1, 9);

    protected override async Task OnInitializedAsync()
    {
        ResourceList = new List<BookedResource>();
        await GetTokenAsync();
        await GetResources();
    }

    private async Task GetTokenAsync()
    {
        try
        {
            token = await TokenService.GetAuthenticationResult();
            CurrentToken = token.AccessToken;
        }
        catch (Exception e)
        {
            CurrentToken = $"ERROR! - {e.Message}";
        }
    }
    private async Task GetResources()
    {

        var service = new BookableResourceService();

        service.Token = token;

        ResourceList = await service.GetResourcesAsync();
    }

    #endregion
}
<style>
</style>
