@page "/BKBSchedulePage"
@attribute [Authorize]

@using Syncfusion.Blazor.Schedule
@using Microsoft.IdentityModel.Clients.ActiveDirectory
@using FieldServiceT.Models
@using FieldServiceT.Repositories
@using FieldServiceT.Helpers

@inject BookableResourceBooking<BookedResource> bookableResourceBookingService
@inject TokenService tokenService


<h6>BKBSchedulePage</h6>

<div class="col-lg-12 control-section">
    <div class="schedule-wrapper">
        <SfSchedule TValue="BookedResource" Width="100%" Height="510px" @bind-SelectedDate="@CurrentDate">
            <ScheduleViews>
                <ScheduleView Option="View.Day"></ScheduleView>
                <ScheduleView Option="View.Week"></ScheduleView>
                <ScheduleView Option="View.Month"></ScheduleView>
                <ScheduleView MaxEventsPerRow="12" Option="View.TimelineDay"></ScheduleView>
                <ScheduleView MaxEventsPerRow="12" Option="View.TimelineWeek"></ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings DataSource="@ResourceList"></ScheduleEventSettings>
        </SfSchedule>
    </div>
</div>

@code {
    private AuthenticationResult token;
    private List<BookedResource> ResourceList { get; set; }
    private string CurrentToken { get; set; }
    private DateTime CurrentDate = DateTime.Now;


}
