@page "/BookableResourcePage/{ResourceId}/{Token}"
@*@page "/BookableResourcePage"*@

@using System.Text.Json
@using Microsoft.OData
@using Microsoft.OData.Client
@using Newtonsoft.Json.Serialization
@using Newtonsoft.Json
@using System.Net.Http.Headers
@using FieldServiceT.Models


<h5>BookableResourceId: @ResourceId</h5>
<h5>Name: @Result</h5>

@code {

    [Parameter]
    public string ResourceId { get; set; }

    [Parameter]
    public string Token { get; set; }

    [CascadingParameter]
    RouteData RouteData { get; set; }

    string url = "https://eg8pfua3iofsrjt3zb.crm.dynamics.com/api/data/v9.0/bookableresources/";

    public string Result { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetResourse();
    }
    private async Task GetResourse()
    {
        {
            string query = $"?$filter=bookableresourceid eq '{ResourceId}'";

            string resourceuri = url + query;

            using (var client = new System.Net.Http.HttpClient())
            {
                client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", Token);

                var response = await client.GetAsync(new Uri(resourceuri));
                var strjson = await response.Content.ReadAsStringAsync();

                var result = JsonConvert.DeserializeObject<ODataResponse<BookableResource>>(strjson);

                var resource = result.Value.First<BookableResource>();

                Result = resource.Name;
            }
        }
    }
    internal class ODataResponse<T>
    {
        public List<T> Value
        {
            get;
            set;
        }
    }
}
