@page "/1"

@using AspNetMonsters.Blazor.Geolocation
@using System.Collections.ObjectModel
@using System.ComponentModel
@using Syncfusion.Blazor.Grids
@using FieldServiceT.Models
@using Newtonsoft.Json.Serialization
@using Newtonsoft.Json
@using System.Text

@using Syncfusion.Blazor.Lists
@using Microsoft.Extensions.Configuration
@using FieldServiceT.Helpers
@using Microsoft.IdentityModel.Clients.ActiveDirectory
@using System.Net.Http.Headers
@using System.Text.Json
@using Microsoft.OData
@using Microsoft.OData.Client
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager navigationManager
@inject IConfiguration configuration
@inject BrowserService browserService


<h3>@*BookableResourcesList*@</h3>
// https://blazor.syncfusion.com/documentation/listview/customizing-templates/
@*<div class="col-lg-12 control-section sb-property-border">
    <SfListView DataSource="@resourceList" TValue="BookedResourceScreen" EnableVirtualization="true" CssClass="e-list-template ui-list" HeaderTitle="Contacts" Height="500px" ShowHeader="true">
        <ListViewTemplates TValue="BookedResourceScreen">
            <Template>
                <div class='e-list-wrapper e-list-avatar'>
                    @if (context.ImgUrl != "")
                    {
                        <img id='showUI' class='e-avatar e-avatar-circle' src=@context.ImgUrl />
                    }
                    else
                    {
                        <span id="showUI" class='e-avatar e-avatar-circle' icon=@context.Icon> @context.Icon</span>
                    }
                    <span class='e-list-content'>@context.Name</span>
                </div>
            </Template>
        </ListViewTemplates>
        <ListViewFieldSettings TValue="resourceList" Id="Id" Text="Name"></ListViewFieldSettings>
    </SfListView>
</div>*@

@code
{
    #region Code

    private string CurrentToken { get; set; }
    private string Error { get; set; }
    private string selectedId;

    private string baseUrl;
    private AuthenticationResult token;
    private string userMail;
    private string systemuserId;
    private string bookableResourceId;

    private List<BookedResourceScreen> resourceList { get; set; }

    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

    private string Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        baseUrl = configuration["BaseUrl"];
        resourceList = new List<BookedResourceScreen>();
        CurrentToken = await GetTokenAsync();

        try
        {
            userMail = await GetUserMailAsync();
        }
        catch (Exception ex)
        {
            Message = ex.Message;
        }

        systemuserId = await GetSystemUserIdAsync();

        bookableResourceId = await GetBookableResourceAsync();

        if (bookableResourceId == null)
        {
            resourceList = null;
            return;
        }
        resourceList = await GetBookableResourceBookingsAsync();
    }

    private async Task<string> GetTokenAsync()
    {
        //token = await TokenService.GetAuthenticationResultAsync();
        return token.AccessToken;
    }

    private async Task<string> GetUserMailAsync()
    {
        var authState = await authenticationStateTask;
        return authState.User.Identity.Name;
    }

    private async Task<string> GetSystemUserIdAsync()
    {
        string query = baseUrl + "systemusers?$select=systemuserid,fullname&$filter=internalemailaddress eq '" + userMail + "'";
        using (var client = new System.Net.Http.HttpClient())
        {
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token.AccessToken);
            var response = await client.GetAsync(new Uri(query));
            var strjson = await response.Content.ReadAsStringAsync();
            var result = JsonConvert.DeserializeObject<ODataResponse<SystemUser>>(strjson).Value.First<SystemUser>();
            return result.SystemUserId;
        }
    }

    private async Task<string> GetBookableResourceAsync()
    {
        {
            string query = baseUrl + "bookableresources";
            query += "?$select=bookableresourceid";
            query += "&$filter=_userid_value eq '" + systemuserId + "'";

            using (var client = new System.Net.Http.HttpClient())
            {
                client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token.AccessToken);

                var response = await client.GetAsync(new Uri(query));
                var strjson = await response.Content.ReadAsStringAsync();

                var result = JsonConvert.DeserializeObject<ODataResponse<BookableResource>>(strjson).Value.FirstOrDefault<BookableResource>();

                if (result == null)
                    return null;
                else
                    return result.BookableResourceId;
            }
        }
    }

    private async Task<List<BookedResourceScreen>> GetBookableResourceBookingsAsync()
    {
        string query = baseUrl + "bookableresourcebookings";
        query += "?$filter=_resource_value eq '" + bookableResourceId + "'";
        query += "&$select=name,starttime,endtime";
        query += "&$expand=msdyn_workorder($select = msdyn_name, msdyn_address1,msdyn_addressname,msdyn_workordersummary ),";
        query += "BookingStatus($select=name)";

        using (var client = new System.Net.Http.HttpClient())
        {
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token.AccessToken);

            var response = await client.GetAsync(new Uri(query));
            var strjson = await response.Content.ReadAsStringAsync();

            var result = JsonConvert.DeserializeObject<ODataResponse<BookedResource>>(strjson).Value;

            var list = result.Select(res => new BookedResourceScreen()
            {
                BookableResourceBookingId = res.BookableResourceBookingId,
                Name = res.Name,
                StartTime = res.StartTime,
                EndTime = res.EndTime,
                WOName = res.WorkOrder == null ? "" : res.WorkOrder.Name,
                WOAddressName = res.WorkOrder == null ? "" : res.WorkOrder.Addressname,
                WOAddress1 = res.WorkOrder == null ? "" : res.WorkOrder.Address1,
                WOSummary = res.WorkOrder == null ? "" : res.WorkOrder.WorkOrderSummary,
                StatusName = res.BookingStatus.Name == null ? "" : res.BookingStatus.Name
            });

            var resultList = list.ToList<BookedResourceScreen>();
            return resultList;
        }
    }

    public void RowSelectedHandler(RowSelectEventArgs<BookedResourceScreen> args)
    {
        var id = args.Data.BookableResourceBookingId;
        var url = "/BookedResourcePage/" + id + "/" + token.AccessToken;
        navigationManager.NavigateTo(url);
    }

    internal class ODataResponse<T>
    { public List<T> Value { get; set; } }

    #endregion
}

