@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

@*<div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div class="content px-4" style="background-color:aliceblue">
            @Body
        </div>
    </div>*@
<div class="main">
    <div class="top-row auth">
        <LoginDisplay />
    </div>

    <div class="content" style="background-color:aliceblue">
        @Body
    </div>
</div>

