<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FieldService-T</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="AzureAD/Account/SignOut">
                        <span class="oi oi-account-logout"></span>Log out
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="AzureAD/Account/SignIn">
                        <span class="oi oi-account-login"></span>Log in
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> BKB List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BookingPage">
                <span class="oi oi-tablet" aria-hidden="true"></span> BKB Table
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BKBSchedulePage">
                <span class="oi oi-calendar" aria-hidden="true"></span> BKB Schedule
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BKBMapPage">
                <span class="oi oi-map" aria-hidden="true"></span> BKB Map
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WOCloseOutPage">
                <span class="oi oi-book" aria-hidden="true"></span> WO CloseOut
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TestMail">
                <span class="oi oi-inbox" aria-hidden="true"></span> Test Mail
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
