@layout WOCLosedoutLayout
@page "/WOCloseOutPage2"

@using FieldServiceT.Pages.WOCloseout
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.InPlaceEditor
@using Syncfusion.Blazor.Inputs


<div style="padding:6px;">
    <p><span style="color:red;">*</span>Required</p>
    <p>
        Materials used
    </p>
    <p>
        Please only include items provided from company stock and not provided by the client. Please make sure to list them in the correct format specified
    </p>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>
    <div>
        <p>1.Totality Work Order Number<span> *</span></p>
        <p>You MUST include zero's!</p>
        <SfTextBox Placeholder="Enter the answer"></SfTextBox>
    </div>


</div>

@code {

}
