@inherits LayoutComponentBase
@using Syncfusion.Blazor.Cards
@layout MainLayout

<div class="control-section">
    <SfCard>
        <CardHeader>
            <h7 style="text-align:left">WOCLosedupLayout</h7>
        </CardHeader>
        <CardContent>
            <div class="row">
                <div>
                    @Body
                </div>
            </div>
        </CardContent>
        <CardFooter>
            <CardFooterContent>
                <div id="container-buttons">
                    <button type="button" class="btn btn-success btn-sm" @onclick="OnPrevousClickHandler">Previous</button>
                    <button type="button" class="btn btn-success  btn-sm" @onclick="OnNextClickHandler">Next</button>
                    <button type="button" class="btn btn-danger btn-sm" @onclick="OnSubmitClickHandler">Submit</button>
                </div>
            </CardFooterContent>
        </CardFooter>
    </SfCard>
</div>

@code {
    private void OnPrevousClickHandler(MouseEventArgs args)
    {

    }
    private void OnNextClickHandler(MouseEventArgs args)
    {

    }
    private void OnSubmitClickHandler(MouseEventArgs args)
    {

    }



    //void OnSelect(BookedResourceScreen selected)
    //{
    //    var id = selected.BookableResourceBookingId;
    //    var url = "/BookedResourcePage/" + id;// + "/" + token.AccessToken;
    //    navigationManager.NavigateTo(url);
    //}
}
<style>
    #container-buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 4px;
        width:310px;
    }
    #container-buttons > button{
        width:100px;
    }
</style>
